.fx-panel-container {
    font-family: "Arial";
    .fx-panel-header {
        font-weight: 700;
    }
    .fx-panel-currency {
        .shape {
            fill: #fff;
            stroke-width: 1;
            font-weight: 700;
            stroke: #607D8B;
        }
        .header {
            font-size: 0.6em;
        }
        .course {
            font-size: 1.2em;
        }
        &.left {
            .header, .course {
                fill: #D32F2F;
            }
        }
        &.right {
            .header, .course {
                fill: #388E3C;
            }
        }
        &:hover {
            .shape{
                stroke-width: 2;
                stroke: #29B6F6;
            }
            .header {
                fill: #fff;
            }
            .course{
                fill: #fff;
            }
            &.right {
                .shape {
                    fill: #388E3C;
                }
            }
            &.left {
                .shape {
                    fill: #D32F2F;
                }
            }
        }
    }
}
