html,
body {
    height: 100%;

    .container{
        min-height: 100%;
        min-width: 100%;
        .header{
            text-align: center;
        }
        padding: 10px;
    }

    .flexible-widgets-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .item{
            padding: 10px;
        }
    }
}
